/* -----Container image------ */
.callout-container-main {
    height: 100vh;
  
    background: url("https://images.pexels.com/photos/7263018/pexels-photo-7263018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 60%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
  }